.Brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    flex: auto;
    text-align: center;
    margin: -15px auto;
    color: #FFEFEF;
}

@media (max-width: 500px) {
    .Brand {
        font-size: 25px;
        margin: 0 0 0 0;
        text-align: center;
    }
}

