.Brand {
    font-family: 'Staatliches', cursive;
    font-size: 85px;
    letter-spacing: .5rem;
    flex: auto;
    text-align: center;
    margin: -15px auto;
    color: #FFEFEF;
    text-shadow: 4px 5px 0 rgb(63, 78, 100);
}

@media (max-width: 500px) {
    .Brand {
        font-size: 25px;
        margin: 0 0 0 0;
        text-align: center;
    }
}

