*{
    box-sizing: border-box;
}

.navigation-container{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #92A9BD;
    border: solid #7C99AC 1rem;
    display: grid;
    grid-column-gap: 5px;

}
.header-position {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 25px;
    margin: 0 0 0 50px;
}

.logo{
    display: flex;
    background-color: #D3DEDC;
    height: 50%;
    width: 100%;
    padding: 0.5%;
    border: solid #7C99AC 5px;
    border-radius: 5%;
    grid-row: 1;
    grid-column: 1;
}

.cart-container{
    background-color: #D3DEDC;
    height: 50%;
    width: 100%;
    border: solid #7C99AC 5px;
    border-radius: 5%;
    grid-row: 1;
    grid-column: 4;
    padding: 0 5px 0 5px;
}


.cart-box{
    display:flex;
    justify-content: space-between;
}

.icons-size{
    height:100%;
    width:50%;
}

.search-field{
    height: 100%;
    background-color: #FFEFEF;
    border: solid #7C99AC 1px;
    border-radius: 1%;
    margin-bottom: 20px;
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.text-visibility{
    visibility: visible;
}


@media (max-width: 375px) {
    .logo{
        visibility: hidden;
    }

    .cart-container{
        height: 100%;
    }
}

@media (max-width: 500px) {
    .logo{
        visibility: hidden;
    }

    .cart-container{
        height: 100%;
    }
}

