*{
    box-sizing: border-box;
}
.nav-grid{
    background-color: #92A9BD;
    padding: 25px 0 5px 0;
    height: 200px;
    display: grid;
    grid-template-areas:
        "l h c"
        ". s .";
    justify-items: center;
    border: solid #7C99AC 5px;
}

.logo-grid{
    grid-area: l;
}

.header-grid{
    grid-area: h;
}
.cart-grid{
    grid-area: c;
}

.search-grid{
    grid-area: s;
}
.logo{
    display: flex;
    background-color: #D3DEDC;
    height: 100px;
    padding: 25px;
    border: solid #7C99AC 5px;
    border-radius: 25%;
}

.cart-container{
    box-sizing: border-box;
    background-color: #D3DEDC;
    height: 100px;
    width: 175px;
    padding: 25px;
    border: solid #7C99AC 5px;
    border-radius: 25%;
}

.flex-box{
    display:flex;
}
.cart-icon{
    height: 3rem;
}

.navigation-font{
    font-size: 1rem;
}

.search-field{
    height: 75%;
    width:100%;
    background-color: #FFEFEF;
    border: solid #7C99AC 1px;
    border-radius: 5%;
    margin-bottom: 20px;
}